body {
    background: linear-gradient(149deg, rgba(19,195,134,1) 65%, rgba(46,192,194,1) 81%, rgba(200,224,230,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
  }
#catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 8px;
}
.actions {
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}